@{
    ViewBag.Title = "SmartFormz Designer";
}

<div class="row">
    <div class="col-xs-3">
        @Html.Partial("~/Views/Folder/_Folders.cshtml")
    </div>
    <div class="col-xs-9">

    </div>
</div>